[Unit]
Description=BPBX
After=network.target

[Service]
User=root
ExecStart=/usr/local/bin/start_bpbx.sh
ExecStop=/usr/local/bin/stop_bpbx.sh
ExecReload=/usr/sbin/asterisk -rx 'core reload'
Type=forking

[Install]
WantedBy=multi-user.target