[Unit]
Description=BPBX
After=network.target

[Service]
User=root
ExecStart=/usr/local/bin/start_bpbx.sh
ExecStop=/usr/local/bin/stop_bpbx.sh
Type=simple

[Install]
WantedBy=multi-user.target